SpeechRecognition==3.11.0
openai==1.54.4
gTTS==2.5.4
googletrans-py==4.0.0
python-dotenv==1.0.1
httpx==0.27.2

# spaCy core installation
spacy==3.8.4

# Language models for spaCy
https://github.com/explosion/spacy-models/releases/download/sv_core_news_sm-3.8.0/sv_core_news_sm-3.8.0.tar.gz  # Swedish
# https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.8.0/en_core_web_sm-3.8.0.tar.gz  # English
# https://github.com/explosion/spacy-models/releases/download/de_core_news_sm-3.8.0/de_core_news_sm-3.8.0.tar.gz  # German
# https://github.com/explosion/spacy-models/releases/download/fr_core_news_sm-3.8.0/fr_core_news_sm-3.8.0.tar.gz  # French
# https://github.com/explosion/spacy-models/releases/download/es_core_news_sm-3.8.0/es_core_news_sm-3.8.0.tar.gz  # Spanish
# https://github.com/explosion/spacy-models/releases/download/pt_core_news_sm-3.8.0/pt_core_news_sm-3.8.0.tar.gz  # Portuguese (Brazil)